{% function block.content() %}
<h1>A Personal Art Archiving Tool</h1>
<p>
  Werehouse is a tool for keeping track of the art you care about and want to be
  able to find again. It lets you store reference images, art you want to save
  for later, and art you want to share with friends, and it makes it easy to
  keep track of who created each artwork.
</p>

<h1>Built Small</h1>
<p>
  I'm not trying to sell this or “productize” it. Werehouse is
  <a href="https://github.com/s0ph0s-2/werehouse">open source and permissively licensed</a>, and designed to be used
  by yourself or with a small group of friends. Archive the art you care about
  so that you’ll always have access to it!
</p>

<h1>Minimalism is a Feature</h1>
<p>
  This kind of service should focus on the artwork, not load down your browser
  with megabytes of bloated JavaScript. All the basic functionality of Werehouse
  works with JavaScript disabled, and the advanced features use JavaScript
  judiciously.
</p>

<h1>Sign Up</h1>
<p>
  This instance is run by s0ph0s. Send them an
  <a href="mailto:werehouse-signup@s0ph0s.dog">email</a> or
  <a target="_blank" href="https://t.me/s0ph0s">Telegram message</a> to ask for an invite link.
</p>
{% end %}{% render("layouts/main", { title = "About", user = user }) %}
