{% function block.content() %}
<p>You have been invited to use Werehouse. Create your account:</p>
<form method="POST" class="vbox">
  <label
    >Username:
    <input
      type="text"
      minlength="2"
      maxlength="128"
      name="username"
      autocomplete="username"
  /></label>
  <label
    >Password:
    <input
      type="password"
      minlength="16"
      maxlength="128"
      name="password"
      autocomplete="new-password"
      passwordrules="minlength: 16; maxlength: 128; required: lower; required: upper; required: digit; required: [-!#$%&()*+=?@^_];"
  /></label>
  <label
    >Password (again):
    <input
      type="password"
      minlength="16"
      maxlength="128"
      autocomplete="new-password"
      passwordrules="minlength: 16; maxlength: 128; required: lower; required: upper; required: digit; required: [-!#$%&()*+=?@^_];"
      name="password_confirm"
  /></label>
  <label class="inline">
    <input type="checkbox" name="tos" value="accepted" required />
    I accept the <a href="/tos">Terms of Service</a>
  </label>
  <span class="buttons">
    <input type="reset" />
    <input type="submit" value="Accept Invite" />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Accept Invitation", user = user,
error = error }) %}
