{% function block.content() %}
<h1>{%& vars.user.username %}</h1>
<p>Your account stores:</p>
<ul>
  {% for i = 1, #image_stats do local row = image_stats[i] %}
  <li>{%& row.record_count %}&nbsp;{%& DbUtil.k.ImageKindLoopable[row.kind] %}s</li>
  {% end %}
  <li>{%& artist_count %} artists</li>
  <li>{%& tag_count %} tags</li>
  <li>{%& string.format("%.02f MB", data_size / 1024 / 1024 ) %} of data</li>
</ul>
<h1 id="linked-tg">Linked Telegram Accounts</h1>
{% if #telegram_accounts > 0 then %}
<ul>
  {% for i = 1, #telegram_accounts do local tg_acct = telegram_accounts[i] %}
  <li>
    <a target="_blank" href="https://t.me/{%& tg_acct.tg_username %}"
      >@{%& tg_acct.tg_username %}</a
    >
    ({%& tg_acct.tg_userid %})
  </li>
  {% end %}
</ul>
{% else %}
<p>No linked Telegram accounts.</p>
{% end %}
<p>
  To link a Telegram account, send <code>/start</code> to
  <a target="_blank" href="https://t.me/werehouse_archive_bot"
    >WerehouseBot (@werehouse_archive_bot)</a
  >
  and click the link it sends you.
</p>
<h1 id="sopl">Share Options and Ping Lists</h1>
<p>
  Configure the groups or channels you would like to be able to share archive
  entries to. Optionally, you can also add your friends’ usernames and tags that
  they are interested in—the shared post will automatically @ them with the
  things they might like!
</p>
<p>
  <a
    href="/share-ping-list/add"
    hx-get="/share-ping-list/add"
    hx-target="#dialog"
    >Add New Share Option…</a
  >
</p>
{% if share_ping_lists and #share_ping_lists > 0 then %}
<ul>
  {% for i = 1, #share_ping_lists do local share_ping_list = share_ping_lists[i] %}
  <li>
    {%& share_ping_list.share_data.type %}:
    <a href="/share-ping-list/{%& share_ping_list.spl_id %}"
      >{%& share_ping_list.name %}</a
    >
  </li>
  {% end %}
</ul>
{% else %}
<p>No share options configured yet.</p>
{% end %}
<h1>Sessions</h1>
<form method="POST" action="/account/end-sessions">
  <table>
    <thead>
      <tr>
        <th class="txt">Session ID</th>
        <th class="txt">Created At</th>
        <th class="txt">Last Seen</th>
        <th class="txt">User Agent</th>
        <th class="num">IP Address</th>
      </tr>
    </thead>
    <tbody>
      {% for i = 1, #sessions do local session = sessions[i] %}
      <tr>
        <td class="txt">{%& session.session_id %}</td>
        <td class="txt">{%& session.created %}</td>
        <td class="txt">{%& FormatHttpDateTime(session.last_seen) %}</td>
        <td class="txt">{%& session.user_agent %}</td>
        <td class="num"><code>{%& session.ip %}</code></td>
      </tr>
      {% end %}
    </tbody>
  </table>
  <input type="submit" name="end_all_sessions" value="End All Sessions" />
</form>
<h1 id="invite-links">Invite Links</h1>
<form method="POST" action="/account/invites">
  <p>
    You have {%& vars.user.invites_available %} available.
    <input
      type="submit"
      name="make-invite"
      {% if vars.user.invites_available < 1 then %}disabled {% end %}value="Make Invite Link"
    />
  </p>
</form>
<table>
  <thead>
    <tr>
      <th class="txt">Link</th>
      <th class="num">Used</th>
    </tr>
  </thead>
  <tbody>
    {% for i = 1, #invites do local invite = invites[i] %}
    <tr>
      <td class="txt">
        <a
          href="https://werehouse.s0ph0s.dog/accept-invite/{%& invite.invite_id %}"
          >https://werehouse.s0ph0s.dog/accept-invite/{%& invite.invite_id %}</a
        >
      </td>
      <td class="num">
        {% if invite.used == 1 then %}Yes{% else %}Not Yet{% end %}
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
<h1>Account Management</h1>
<form
  class="vbox"
  method="POST"
  id="change-password"
  action="/account/change-password"
>
  <h2>Change Password</h2>
  <p class="error">{%& pw_change_error %}</p>
  <label>
    Current Password:
    <input
      type="password"
      name="current_password"
      minlength="16"
      maxlength="128"
      autocomplete="current-password"
    />
  </label>
  <label
    >New Password:
    <input
      type="password"
      name="password"
      minlength="16"
      maxlength="128"
      autocomplete="new-password"
      passwordrules="minlength: 16; maxlength: 128; required: lower; required: upper; required: digit; required: [-!#$%&()*+=?@^_];"
    />
  </label>
  <label>
    New Password (again):
    <input
      type="password"
      name="password_confirm"
      minlength="16"
      maxlength="128"
      autocomplete="new-password"
      passwordrules="minlength: 16; maxlength: 128; required: lower; required: upper; required: digit; required: [-!#$%&()*+=?@^_];"
    />
  </label>
  <span class="buttons">
    <input type="reset" value="Clear" />
    <input type="submit" name="change_password" value="Change" />
  </span>
</form>
<h2>Your Data</h2>
<form class="vbox" method="POST">
  <span>
    <input type="submit" name="export" value="Export Data" />
    You'll receive a zip file containing all of the data for your account, once
    the archiving job finishes. If you rename this file to .com instead of .zip
    (or mark it as executable on Linux/macOS), you can run it to open a
    stand-alone, read-only copy of this application with all your data!
  </span>
  <span>
    <input type="submit" name="delete" value="Delete Account" />
    This action is irreversible (but you will be prompted for confirmation
    first). Images/videos saved by both you
    <i>and at least one other person</i> will not be deleted. Your data will
    cycle out of the backups after approximately 30 days.
  </span>
</form>
{% end %}{% render("layouts/main", { title = "Profile" }) %}
