{% function block.content() %}
<form class="vbox" method="POST">
  <label
    >Artist Name
    <input type="text" name="name" autocapitalize="words" required />
  </label>
  <table>
    <thead>
      <tr>
        <th class="txt">Username</th>
        <th class="txt">Profile URL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="txt">
          <input type="text" name="usernames[]" autocomplete="off" required />
        </td>
        <td class="txt">
          <input type="url" name="profile_urls[]" required size="75" />
        </td>
      </tr>
    </tbody>
  </table>
  <span class="buttons">
    <input type="reset" value="Clear" />
    <input type="submit" name="add" value="Add" />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Add Artist", dialog_width =
"30em" }) %}
