{% function block.content() %}
<p>
  If you know the source for an image and Werehouse can’t scrape that source,
  you can upload the image here without using the queue system.
</p>
<form
  class="vbox"
  method="POST"
  action="/archive"
  enctype="multipart/form-data"
>
  {% if error_str and type(error_str) == "string" then %}
  <p class="error" hx-disable>{%= error_str %}</p>
  {% end %}
  <label
    >File:<input
      type="file"
      name="image"
      accept="*.png,*.jpg,*.jpeg,*.gif,image/png,image/jpeg,image/gif"
      required
  /></label>
  <label class="inline"
    ><input type="checkbox" name="check_duplicates" checked /> Check for
    duplicates</label
  >
  <span class="buttons reverse">
    <input
      type="submit"
      name="archive"
      value="Archive"
      hx-post="/archive"
      hx-encoding="multipart/form-data"
      hx-target=".content"
      hx-select=".content"
      hx-validate="true"
      hx-push-url="true"
      hx-on::after-request="this.closest('dialog').close();"
    />
    <input
      type="submit"
      name="cancel"
      value="Cancel"
      formnovalidate
      hx-post="/archive"
      hx-swap="none"
    />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Manually Archive" }) %}
