{% function block.content() %}
<h1>{%& artist.name %}</h1>
<ul>
  <li>ID: {%& artist.artist_id %}</li>
  <li>Manually confirmed: {%& artist.manually_confirmed %}</li>
</ul>
<h1>Handles</h1>
{% if #handles == 0 then %}
<p>No handles recorded for this artist yet.</p>
{% else %}
<ul>
  {% for _, handle in ipairs(handles) do %}
  <li>
    <a href="{%& handle.profile_url %}"
      >{%& handle.handle %} on {%& handle.domain %}</a
    >
  </li>
  {% end %}
</ul>
{% end %}
<h1>Images</h1>
{% render("components/image_gallery", { image_records = images }) %}{% end %}{%
render("layouts/main", { title = artist.name, user = user }) %}
