{% function block.content() %}
<h1>{%& artist.name %}</h1>
<ul>
  <li>ID: {%& artist.artist_id %}</li>
  <li>Manually confirmed: {%& artist.manually_confirmed %}</li>
</ul>
<h1>Handles</h1>
{% if #handles == 0 then %}
<p>No handles recorded for this artist yet.</p>
{% else %}
<ul>
  {% for _, handle in ipairs(handles) do %}
  <li>
    <a href="{%& handle.profile_url %}"
      >{%& handle.handle %} on {%& handle.domain %}</a
    >
  </li>
  {% end %}
</ul>
{% end %}
<h1>Images</h1>
{% if #images == 0 then %}
<p>Nothing archived yet</p>
{% else %}
<div class="gallery">
  {% for _, image in ipairs(images) do %}
  <a href="/image/{%& image.image_id %}">
    <img src="/image-file/{%& image.file %}" />
  </a>
  {% end %}
</div>
{% end %}{% end %}{% render("main_layout", { title = artist.name, user = user })
%}
