{% function block.content() %}
<h1>Artists</h1>
<p>
  <a href="/artist/add" hx-get="/artist/add" hx-target="#dialog">Add Artist…</a>
</p>
{% if pages.current > 1 and #artist_records == 0 then %}
<p>You've fallen off the end of the page counter!</p>
{% elseif #artist_records == 0 then %}
<p>No artists yet.</p>
{% else %}
<form method="GET">
    <input type="hidden" name="page" value="{%& page %}" />
    <span class="buttons"><input
          type="search"
          placeholder="Simple Search Query"
          value="{%& search %}"
          name="search"
          /><button>Search</button></span>
</form>
<form method="POST" hx-boost="true" hx-swap="show:none">
  {% if error and type(error) == "string" then %}
  <p class="error">{%& error %}</p>
  {% end %}
  <span class="buttons sticky-top"
    ><input type="reset" value="Deselect All" /><button
      type="button"
      onclick="document.getElementsByName('qids[]').forEach((e) => { e.checked=true; })"
    >
      Select All</button
    ><input
      type="submit"
      name="delete"
      value="Delete"
      data-confirm-nicely /><input
      type="submit"
      name="merge"
      value="Merge"
      data-confirm-nicely
  /></span>
  <ul class="checkbox-bullets" hx-boost="false">
    {% for i = 1, #artist_records do local item = artist_records[i] %}
    <li>
      <label class="checkbox-bullet">
        <input
          type="checkbox"
          name="artist_ids[]"
          value="{%& item.artist_id %}"
        />
        <div>
          <strong
            ><a href="/artist/{%& item.artist_id %}"
              >{%& item.name %}</a
            ></strong
          >
          <p>
            {% render("components/artist_verified", {artist = item}) %}, 📇: {%&
            item.handle_count %}, 🖼️: {%& item.image_count %}
          </p>
        </div>
      </label>
    </li>
    {% end %}
  </ul>
  {% render("components/pagination_controls", { pages = pages, kind_plural =
  "artists" }) %}
</form>
{% end %}{% end %}{% render("layouts/main", { title = "Artists" })
%}
