{% function block.content() %}
<h1>Artists</h1>
<p><a href="/artist/add">Add Artist…</a></p>
{% if pages.current > 1 and #artist_records == 0 then %}
<p>You've fallen off the end of the page counter!</p>
{% elseif #artist_records == 0 then %}
<p>No artists yet.</p>
{% else %}
<form method="POST">
  {% if error and type(error) == "string" then %}
  <p style="color: red">{%& error %}</p>
  {% end %}
  <span class="buttons"
    ><input type="reset" value="Deselect All" /><button
      type="button"
      onclick="document.getElementsByName('qids[]').forEach((e) => { e.checked=true; })"
    >
      Select All</button
    ><input type="submit" name="delete" value="Delete" /><input
      type="submit"
      name="merge"
      value="Merge"
  /></span>
  <ul class="checkbox-bullets" hx-boost="true">
    {% for i = 1, #artist_records do local item = artist_records[i] %}
    <li>
      <label class="checkbox-bullet">
        <input
          type="checkbox"
          name="artist_ids[]"
          value="{%& item.artist_id %}"
        />
        <div>
          <strong
            ><a href="/artist/{%& item.artist_id %}"
              >{%& item.name %}</a
            ></strong
          >
          <p>
            {% render("components/artist_verified", {artist = item}) %}, 📇: {%&
            item.handle_count %}, 🖼️: {%& item.image_count %}
          </p>
        </div>
      </label>
    </li>
    {% end %}
  </ul>
  {% render("components/pagination_controls", { pages = pages, kind_plural =
  "artists" }) %}
</form>
{% end %}{% end %}{% render("layouts/main", { title = "Artists", user = user })
%}
