{% function block.content() %}
<h1>
  {%& artist.name %} {% render("components/artist_verified", { artist = artist
  }) %}
</h1>
<p><a href="/artist/{%& artist.artist_id %}/edit">Edit…</a></p>
<p>Found online as:</p>
{% if #handles == 0 then %}
<p>(No handles added yet!)</p>
{% else %}
<ul>
  {% for i = 1, #handles do local handle = handles[i] %}
  <li>
    <a href="{%& handle.profile_url %}"
      >{%& handle.handle %} on {%& handle.domain %}</a
    >
  </li>
  {% end %}
</ul>
{% end %}
<h1>Records</h1>
{% render("components/image_gallery", { image_records = images, fn = fn }) %}{%
end %}{% render("layouts/main", { title = artist.name, user = user }) %}
