{% function block.content() %}
<p>Choose either:</p>
<form class="vbox" method="POST">
  <label>Link: <input type="text" name="link" /></label>
  <span class="buttons">
    <input type="submit" />
  </span>
</form>
<p>Or:</p>
<form class="vbox" method="POST" enctype="multipart/form-data">
  <label
    >File:<input
      type="file"
      name="image"
      accept="*.png,*.jpg,*.jpeg,*.gif,image/png,image/jpeg,image/gif"
  /></label>
  <span class="buttons">
    <input type="submit" />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Add to Queue", user = user }) %}
