{% function block.content() %}
<form
  class="vbox"
  method="POST"
  action="/enqueue"
  enctype="multipart/form-data"
>
  <p>Choose either:</p>
  <label>Link: <input type="text" name="link" /></label>
  <p>Or:</p>
  <label
    >File:<input
      type="file"
      name="image"
      accept="*.png,*.jpg,*.jpeg,*.gif,image/png,image/jpeg,image/gif"
  /></label>
  <span class="buttons">
    <input
      type="submit"
      name="cancel"
      value="Cancel"
      formnovalidate
      hx-post="/enqueue"
      hx-swap="none"
    />
    <input type="submit" name="add" value="Add" />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Add to Queue", user = user, hx =
hx }) %}
