{% function block.content() %}
<h1>Recently Queued Items</h1>
<p><a href="/enqueue" hx-get="/enqueue" hx-target="#dialog">Add to Queue…</a></p>
{% if #queue_records == 0 then %}
<p>Nothing queued</p>
{% else %}{% render("components/queue_records", {queue_records = queue_records,
editable = false}) %}{% end %}
<h1>Recently Archived Records</h1>
<p>
  <a href="/archive" hx-get="/archive" hx-target="#dialog">Manually Archive…</a>
</p>
{% render("components/image_gallery", {image_records = image_records, fn = fn,
kind = kind }) %}{% end %}{% render("layouts/main", { title = "Home", user =
user }) %}
