{% function block.record_view(record, sources_text, sources_text_size, group) %}
<div class="main-image">
  {% render("components/record_view", {record = record, kind = fn.kind }) %}
</div>
<label class="inline">
  {% if not group then %}
  <input type="checkbox" name="spoiler" />
  {% else %}
  <input type="checkbox" name="spoiler_record_{%& record.image_id %}" />
  {% end %} Send as spoiler
</label>
{% local ta_name = "sources_text" if group then ta_name = "sources_text_record_"
.. tostring(record.image_id) end %}
<textarea name="{%& ta_name %}" rows="{%& sources_text_size %}">
{%& sources_text %}</textarea
>
{% end %}{% function block.content() %}
<form
  class="vbox"
  method="POST"
  action="{%& makeUrl() %}"
  hx-boost="true"
  data-once
>
  <input type="hidden" name="share_id" value="{%& share_id %}" />
  {% if images then %}{% for i = 1, #images do local image = images[i] %}{%
  block.record_view(image, image.sources_text, image.sources_text_size, true)
  %}{% end %}{% elseif image then %}{% block.record_view(image, sources_text,
  sources_text_size, false) %}{% else %}There's a bug{% end %}{% if ping_text
  then %}
  <textarea name="ping_text" rows="{%& ping_text_size %}">
{%& ping_text %}</textarea
  >
  {% end %}
  <span class="buttons">
    <input type="submit" name="cancel" value="Cancel" data-btn-cancel />
    <input type="submit" name="share" value="Share" />
  </span>
</form>
<script>
  document.querySelectorAll("[data-once]").forEach((el) => {
    const buttons = el.querySelectorAll('input[type="submit"]');
    el.addEventListener("submit", (event) => {
      buttons.forEach((b) => {
        b.setAttribute("aria-disabled", "true");
        b.classList.add("btn-disabled");
        b.addEventListener("click", (event) => {
          if (b.getAttribute("aria-disabled") === "true") {
            event.preventDefault();
            return;
          }
        });
      });
    });
  });
</script>
{% end %}{% render("layouts/dialog", { title = "Share " .. (ig_id or
image.image_id), hx = hx }) %}
