{% function block.content() %}{% render("components/group_box", { groups =
groups }) %}
<div class="sidebar-grid">
  <div class="main-image">
    <input id="fit-to-screen" type="checkbox" />
    <label for="fit-to-screen"> Fit to screen</label>
    {% render("components/record_view", {record = image, kind =
    DbUtilK.ImageKind}) %}
  </div>
  <div class="sidebar" hx-boost="true">
    <a class="edit" href="/image/{%& image.image_id %}/edit">Edit</a>
    <h1>Metadata</h1>
    <ul>
      <li>Saved at: <time>{%& image.saved_at %}</time></li>
      <li>Categories: {%& fn.category_str(image.category) %}</li>
      <li>Rating: {%& fn.rating_str(image.rating) %}</li>
      <li>Kind: {%& fn.kind_str(image.kind) %}</li>
      <li>Width: {%& image.width %}</li>
      <li>Height: {%& image.height %}</li>
    </ul>
    <h1>Artists</h1>
    {% if #artists == 0 then %}
    <p>No artists for this record yet.</p>
    {% else %}
    <ul>
      {% for _, artist in ipairs(artists) do %}
      <li>
        <a href="/artist/{%& artist.artist_id %}">{%& artist.name %}</a> {%
        render("components/artist_verified", {artist = artist}) %}
      </li>
      {% end %}
    </ul>
    {% end %}
    <h1>Tags</h1>
    {% if #tags == 0 then %}
    <p>
      No tags for this record yet{% if incoming_tags and #incoming_tags > 0 then
      %}, but the scraper found some suggestions{% end %}.
    </p>
    {% else %}
    <ul>
      {% for i = 1, #tags do local tag = tags[i] %}
      <li>
        <a href="/tag/{%& tag.tag_id %}">{%& tag.name %}</a
        ><span class="count">{%& tag.count %}</span>
      </li>
      {% end %}
    </ul>
    {% end %}
    <h1>Sources</h1>
    {% if #sources == 0 then %}
    <p>No sources for this record yet.</p>
    {% else %}
    <ul>
      {% for _, source in ipairs(sources) do %}
      <li>
        <a href="{%& source.link %}">{%& ParseUrl(source.link).host %}</a>
      </li>
      {% end %}
    </ul>
    {% end %}
    <h1>Sharing</h1>
    {% render("components/share_widget", { share_ping_lists = share_ping_lists,
    telegram_accounts = telegram_accounts, share_records = share_records }) %}
  </div>
</div>
{% end %}{% render("layouts/main", { title = "Record " ..
tostring(image.image_id), user = user }) %}
