{% function block.content() %}
<h1>Record Groups</h1>
{% if pages.current > 1 and #ig_records == 0 then %}
<p>You've fallen off the end of the page counter!</p>
{% elseif #ig_records == 0 then %}
<p>No record groups yet.</p>
{% else %}
<form method="POST">
  {% if error and type(error) == "string" then %}
  <p style="color: red">{%& error %}</p>
  {% end %}
  <span class="buttons"
    ><input type="reset" value="Deselect All" /><button
      type="button"
      onclick="document.getElementsByName('ig_ids[]').forEach((e) => { e.checked=true; })"
    >
      Select All</button
    ><input type="submit" name="delete" value="Delete" /><input
      type="submit"
      name="merge"
      value="Merge"
  /></span>
  <ul class="checkbox-bullets" hx-boost="true">
    {% for i = 1, #ig_records do local item = ig_records[i] %}
    <li>
      <label class="checkbox-bullet">
        <input type="checkbox" name="ig_ids[]" value="{%& item.ig_id %}" />
        <div>
          <strong
            ><a href="/image-group/{%& item.ig_id %}"
              >{%& item.name %}</a
            ></strong
          >
          <p>🖼️: {%& item.image_count %}</p>
        </div>
      </label>
    </li>
    {% end %}
  </ul>
  {% render("components/pagination_controls", { pages = pages, kind_plural =
  "groups" }) %}
</form>
{% end %}{% end %}{% render("layouts/main", { title = "Record Groups", user =
user }) %}
