{% function block.record_view(record, sources_text, sources_text_size, group) %}
<div class="main-image vbox">
  {% render("components/record_view", {record = record, kind = fn.kind }) %}
</div>
<label class="inline">
  {% if not group then %}
  <input type="checkbox" name="spoiler" />
  {% else %}
  <input type="checkbox" name="spoiler_record_{%& record.image_id %}" />
  {% end %} Send as spoiler
</label>
{% local ta_name = "sources_text" if group then ta_name = "sources_text_record_"
.. tostring(record.image_id) end %}
<label>Media Caption:
<textarea name="{%& ta_name %}" rows="{%& sources_text_size %}">
{%& sources_text %}</textarea
></label>
{% end %}{% function block.content() %}
<form
  class="vbox"
  method="POST"
  action="{%& form_path %}"
  data-once
>
  <input type="hidden" name="share_id" value="{%& share_id %}" />
  {% if to then %}<input type="hidden" name="to" value="{%& to %}" />{% end %}
  {% if to_user then %}<input
    type="hidden"
    name="to_user"
    value="{%& to_user %}"
  />{% end %} {% if images then %}{% for i = 1, #images do local image =
  images[i] %}{% block.record_view(image, image.sources_text,
  image.sources_text_size, true) %}{% end %}{% elseif image then %}{%
  block.record_view(image, sources_text, sources_text_size, false) %}{% else
  %}There's a bug{% end %}{% if ping_text then %}
  <label>Reply to First Media:
  <textarea name="ping_text" rows="{%& ping_text_size %}">
{%& ping_text %}</textarea
  ></label>
  {% end %}
  <span class="buttons">
    <input
      type="submit"
      name="cancel"
      value="Cancel"
      hx-post="{%& form_path %}"
      hx-swap="none"
    />
    <input type="submit" name="share" value="Share" />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Share " .. (ig_id or
image.image_id), hx = hx }) %}
