{% function block.record_view(record, sources_text, sources_text_size, group) %}
<div class="main-image">
  {% render("components/record_view", {record = record, kind = fn.kind }) %}
</div>
<label class="inline">
  {% if not group then %}
  <input type="checkbox" name="spoiler" />
  {% else %}
  <input type="checkbox" name="spoiler_record_{%& record.image_id %}" />
  {% end %} Send as spoiler
</label>
{% if not group then %}
<textarea name="sources_text" rows="{%& sources_text_size %}">
{% else %}
<textarea name="sources_text_record_{%& record.image_id %}" rows="{%& sources_text_size %}">
{% end %}
{%& sources_text %}</textarea
>
{% end %}{% function block.content() %}
<form class="vbox" method="POST">
  {% if images then %}{% for i = 1, #images do local image = images[i] %}{%
  block.record_view(image, image.sources_text, image.sources_text_size, true)
  %}{% end %}{% elseif image then %}{% block.record_view(image, sources_text,
  sources_text_size, false) %}{% else %}There's a bug{% end %}{% if ping_text
  then %}
  <textarea name="ping_text" rows="{%& ping_text_size %}">
{%& ping_text %}</textarea
  >
  {% end %}
  <span class="buttons">
    <input type="submit" name="cancel" value="Cancel" />
    <input type="submit" name="share" value="Share" />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Share " .. ig_id }) %}
