{% function input_cell(type, name, value, list, button_verb, button_value) %}
<li>
  <div class="input-cell">
    <input data-1p-ignore type="{%& type %}" name="pending_{%& name %}s[]" value="{%& value %}"{% if list then %} list="{%& list %}"{% end %} autocomplete="off" data-tagger-field="pending" />
    <button type="submit" name="delete_pending_{%& name %}" data-tagger-btn="pending" value="{%& button_value %}" formnovalidate>{%& button_verb %}</button>
  </div>
</li>
{% end %}
{% function block.content() %}{% render("components/group_box", { groups = groups }) %}
<div class="sidebar-grid wide">
  <div class="main-image">
    <input id="fit-to-screen" type="checkbox" />
    <label for="fit-to-screen"> Fit to screen</label>
    {% render("components/record_view", {record = image, kind =
    DbUtilK.ImageKind}) %}
  </div>
  <div class="sidebar">
    <form method="POST" id="edit-form" action="{%& form_path %}">
      <input type="submit" id="dummy" name="dummy" value="Dummy Submit" class="hidden" formnovalidate />
      <h1>Metadata</h1>
      <ul>
        <li>Saved at: <time>{%& image.saved_at %}</time></li>
        <li>
          <span class="baseline">
            Categories:
            <select name="category[]" multiple="true" size="{%& #DbUtilK.CategoryLoopable %}">
              {% local cs = DbUtilK.CategoryLoopable for i = 1, #cs do local c =
              cs[i] %}
              <option value="{%& c[1] %}"{% if ((category or 0) & c[1]) == c[1] then %} selected{% end %}>{%& c[2] %}</option>
              {% end %}
            </select>
          </span>
        </li>
        <li>
          Rating:
          <select name="rating">
            {% local rs = DbUtilK.RatingLoopable for i = 1, #rs do %}
            <option value="{%& i %}"{% if rating == i then %} selected{% end %}>{%& rs[i] %}</option>
            {% end %}
          </select>
        </li>
        <li>Kind: {%& fn.kind_str(image.kind) %}</li>
      </ul>
      <h1>Artists</h1>
      <datalist id="all-artists">
        {% for i = 1, #allartists do %}
        <option>{%& allartists[i].name %}</option>
        {% end %}
      </datalist>
      <div data-tagger-name="artist" data-tagger-button-verb="Unlink" data-tagger-input-list="all-artists">
        <div data-tagger-e="delete">
        {% if delete_artists then for i = 1, #delete_artists do %}
        <input type="hidden" name="delete_artists[]" value="{%& delete_artists[i] %}" />
        {% end end %}
        </div>
        <ul>
          {% for i = 1, #artists do local artist = artists[i] %}
          <li>
            {%& artist.name %} <button type="submit" name="delete_artist" data-tagger-btn="delete" value="{%& artist.artist_id %}">Unlink</button>
          </li>
          {% end %}
          {% if pending_artists then for i = 1, #pending_artists do local artist = pending_artists[i] %}
            {% input_cell("text", "artist", artist, "all-artists", "Unlink", i) %}
          {% end end %}
          <li data-tagger-e="insert"><input data-1p-ignore type="text" id="add_artist_field" name="pending_artists[]" data-tagger-field="add" list="all-artists" autocomplete="off" placeholder="Add Artist by Name" /><input type="text" data-tagger-field="add-wkhack" class="focushack" /></li>
        </ul>
        <button type="submit" name="add_artist" value="add_artist" data-tagger-btn="add" formnovalidate>Add Another Artist…</button>
      </div>
      <h1>Tags</h1>
      <datalist id="all-tags">
        {% for i = 1, #alltags do %}
        <option>{%& alltags[i].name %}</option>
        {% end %}
      </datalist>
      <div data-tagger-name="tag" data-tagger-button-verb="Unlink" data-tagger-input-list="all-tags">
        <div data-tagger-e="delete">
        {% if delete_tags then for i = 1, #delete_tags do %}
        <input type="hidden" name="delete_tags[]" value="{%& delete_tags[i] %}" />
        {% end end %}
        </div>
        <ul>
          {% for i = 1, #tags do %}
          <li>{%& tags[i].name %} <button type="submit" name="delete_tag" data-tagger-btn="delete" value="{%& tags[i].tag_id %}">Unlink</button></li>
          {% end %}
          {% if pending_tags then for i = 1, #pending_tags do local tag = pending_tags[i] %}
            {% input_cell("text", "tag", tag, "all-tags", "Unlink", i) %}
          {% end end %}
          <li data-tagger-e="insert"><input data-1p-ignore type="text" name="pending_tags[]" id="add_tag_field" data-tagger-field="add" placeholder="Add Tag" autocomplete="off" list="all-tags" autocapitalize="words"/><input type="text" data-tagger-field="add-wkhack" class="focushack" /></li> </ul>
        <button type="submit" name="add_tag" value="add_tag" data-kind="tag" data-tagger-btn="add" formnovalidate>Add Another Tag…</button>
      </div>
      {% if incoming_tags and #incoming_tags > 0 then %}
      <h2>Tags found by the scraper</h2>
      <details open><summary>Hide/Show</summary>
      <ul id="incoming_tags_list">
        {% for i = 1, #incoming_tags do local inc_tag = incoming_tags[i] %}
        <li>
          <label class="inline">
            <input type="checkbox" name="itids[]" value="{%& inc_tag.itid %}" />
            <tt>{%& inc_tag.name %}</tt>
          </label>
        </li>
        {% end %}
      </ul>
      </details>
      {% end %}
      <h1>Sources</h1>
      <div data-tagger-name="source" data-tagger-button-verb="Delete">
        <div data-tagger-e="delete">
        {% if delete_sources then for i = 1, #delete_sources do %}
        <input type="hidden" name="delete_sources[]" value="{%& delete_sources[i] %}" />
        {% end end %}
        </div>
        <ul>
          {% for i = 1, #sources do local source = sources[i] %}
  <li>
    <div class="input-cell">
      <input type="hidden" name="source_ids[]" value="{%& source.source_id %}" />
      <input data-1p-ignore type="url" name="sources[]" value="{%& source.link %}" autocomplete="off" disabled />
      <button type="submit" name="delete_source" data-tagger-btn="delete" value="{%& source.source_id %}" formnovalidate>Delete</button>
    </div>
  </li>
          {% end %}
          {% if pending_sources then for i = 1, #pending_sources do local source = pending_sources[i] %}
            {% input_cell("url", "source", source, nil, "Delete", i) %}
          {% end end %}
          <li data-tagger-e="insert">
            <input
              type="url"
              id="add_source_field"
              name="pending_sources[]"
              value=""
              autocomplete="off"
              data-tagger-field="add"
              placeholder="Add Source"/><input
              type="url"
              data-tagger-field="add-wkhack"
              class="focushack" />
          </li>
        </ul>
        <button type="submit" name="add_source" value="add_source" data-tagger-btn="add" formnovalidate>Add Another Source…</button>
      </div>
      <span class="buttons">
        <input
          type="submit"
          name="cancel"
          value="Cancel"
          formnovalidate
          hx-post="{%& form_path %}"
          hx-target="body"
          hx-push-url="true"
        /><input
          id="save_btn"
          type="submit"
          name="save"
          value="Save…"
          hx-post="{%& form_path %}"
          hx-target="body"
          hx-push-url="true"
          hx-validate="true"
        />
      </span>
    </form>
  </div>
</div>
{% end %}{% render("layouts/main", { title = "Editing Record " ..
tostring(image.image_id), user = user }) %}
