{% function block.content() %}
<h1>{%& ig.name %}</h1>
<p>
  <a
    href="/image-group/{%& ig.ig_id %}/edit"
    hx-get="/image-group/{%& ig.ig_id %}/edit"
    hx-target="dialog"
    >Edit…</a
  >
</p>
{% render("components/share_widget", {share_ping_lists = share_ping_lists,
telegram_accounts = telegram_accounts, share_records = share_records }) %} {%
render("components/image_gallery", { image_records = images, fn = fn }) %}{% end
%}{% render("layouts/main", { title = ig.name, user = user }) %}
