{% function block.content() %}
<form class="vbox" method="POST" action="/login">
  <label
    >Username:
    <input
      type="text"
      minlength="2"
      maxlength="128"
      name="username"
      autocomplete="username" /></label
  ><label
    >Password:
    <input
      type="password"
      minlength="16"
      maxlength="128"
      name="password"
      autocomplete="current-password" /></label
  ><span class="buttons reverse"
    ><input type="submit" value="Log In"
  /><input type="reset" /></span>
</form>
{% end %}
{% render("layouts/dialog", { title = "Log In", dialog_width = "20em", error = error }) %}
