{% function select_image(source_idx, image_idx, duplicates) %}
<select name="s_{%& source_idx %}_i_{%& image_idx %}">
  {% for i = 1, #duplicates do local duplicate = duplicates[i] %}
  <option>Merge with {%& duplicate.duplicate_of %}</option>
  {% end %}
  <option>Discard</option>
  <option>Archive</option>
</select>
{% end %} {% function block.content() %}{% if help_ask.any_duplicates then %}
<p>This might be a duplicate of something that's already been saved.</p>
{% else %}
<p>
  The sources for this entry have different numbers of records, and I can't
  guess what to do. Check the boxes of the records you'd like to save. All of
  them will be in a group together.
</p>
{% end %}
<form method="POST" action="{%& form_path %}" hx-boost="true">
  {% for source_idx, source in ipairs(help_ask.decoded) do %}
  <h3>
    <a href="{%& source[1].this_source %}">{%& source[1].this_source %}</a>
  </h3>
  <ol class="list-item-block">
    {% for image_idx, image in ipairs(source) do %}
    <li>
      <div>
        <a href="{%& image.media_url %}">
          <img
            src="/queue-image/{%& image.media_file %}"
            height="{%& image.height %}"
            width="{%& image.width %}"
            class="constrain-width"
          />
        </a>
      </div>
      <div>
        <span
          >{%& image.width %} by {%& image.height %} • {%& image.mime_type %}
          • Posted by {%& image.authors[1].handle %}</span>
        <ul>
          {% for dupe_idx = 1, #image.duplicates do local duplicate =
          image.duplicates[dupe_idx] %}
          <li>
            Might be a duplicate of
            <a href="/image/{%& duplicate.duplicate_of %}"
              >Record {%& duplicate.duplicate_of %}</a
            >
            <ul>
              {% if duplicate.similarity then %}
              <li>Content hash: {%& duplicate.similarity %}% similar</li>
              {% end %} {% for ms_idx = 1, #duplicate.matched_sources do local ms
              = duplicate.matched_sources[ms_idx] %}
              <li>Matched source: <a href="{%& ms %}">{%& ms %}</a></li>
              {% end %}
            </ul>
          </li>
          {% end %}
        </ul>
        {% select_image(source_idx, image_idx, image.duplicates) %}
      </div>
    </li>
    {% end %}
  </ol>
  {% end %}
  <span class="buttons">
    <input type="submit" name="discard" value="Discard All" /><input
      type="submit"
      name="cancel"
      value="Cancel"
      formnovalidate
      hx-post="{%& form_path %}" /><input type="submit" name="ok" value="OK"
  /></span>
</form>
{% end %}{% render("layouts/dialog", { title = "Provide Help", user = user,
dialog_width = "36em", hx = hx }) %}
