{% function help_dupes() %}
<p>
  This entry seems to be a duplicate of something that's already been saved.
</p>
<table>
  <thead>
    <tr>
      <th class="txt">Kind</th>
      <th class="txt">Info</th>
      <th class="txt">Maybe Duplicate Of</th>
    </tr>
  </thead>
  <tbody>
    {% for _, dupe in ipairs(disambiguation_data.d.duplicates) do %}
    <tr>
      {% if dupe.source_kind == "hash" then %}
      <td class="txt">content hash</td>
      <td class="txt">{%& dupe.similarity %}% similar</td>
      {% else %}
      <td class="txt">{%& dupe.source_kind %} source</td>
      <td class="txt"><a href="{%& dupe.url %}">{%& dupe.url %}</a></td>
      {% end %}
      <td class="txt">
        <a href="/image/{%& dupe.image_id %}">Record {%& dupe.image_id %}</a>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
<form method="POST">
  <p>What do you want to do?</p>
  <span class="buttons">
    <input type="submit" name="discard" value="Discard" />
    <input type="submit" name="save" value="Save Anyway" />
  </span>
</form>
{% end %}{% function help_heuristic() %}
<p>
  The sources for this entry have different numbers of records, and Werehouse
  can't guess what to do. Check the boxes of the records you'd like to save. All
  of them will be in a group together.
</p>
<form method="POST">
  <ol>
    {% for source_idx, source in ipairs(disambiguation_data.h) do %}
    <li>
      <div>
        <a href="{%& source[1].this_source %}">{%& source[1].this_source %}</a>
      </div>
      <ol>
        {% for image_idx, image in ipairs(source) do %}
        <li>
          <label>
            <input
              type="checkbox"
              name="save_images[]"
              value="{%& source_idx %},{%& image_idx %}"
            />
            <a href="{%& image.raw_image_uri %}">
              <img
                src="{%& image.raw_image_uri %}"
                height="{%& image.height %}"
                width="{%& image.width %}"
                class="constrain-width"
              />
            </a>
            <span
              >{%& image.width %} by {%& image.height %} • {%& image.mime_type
              %} • Posted by {%& image.authors[1].handle %}</span
            >
          </label>
        </li>
        {% end %}
      </ol>
    </li>
    {% end %}
  </ol>
  <span class="buttons"
    ><input type="submit" name="cancel" value="Cancel" /><input
      type="submit"
      name="archive_selected"
      value="Archive Selected"
  /></span>
</form>
{% end %}{% function block.content() %} {% if disambiguation_data.d then %}{%
help_dupes() %}{% elseif disambiguation_data.h then %}{% help_heuristic() %}{%
else %}
<p>
  Error: something has gone wrong and the scraper pipeline has asked for help in
  a way that the web front-end doesn't know how to display.
</p>
{% end %}{% end %}{% render("layouts/dialog", { title = "Provide Help", user =
user, dialog_width = "36em" }) %}
