{% function editable_tag_list(handle_idx, kind, tag_type, placeholder, tag_values) %}
{% if tag_values[handle_idx] then %}
{% for tag_idx = 1, #tag_values[handle_idx] do %}
<li>
  <div class="input-cell">
    <input
      data-1p-ignore
      type="text"
      name="{%& kind %}_{%& tag_type %}_tags_handle_{%& handle_idx %}[]"
      value="{%& tag_values[handle_idx][tag_idx] %}"
      list="all-tags"
      placeholder="{%& placeholder %}"
      autocomplete="off"
    />
    <button
      type="submit"
      name="delete_{%& kind %}_{%& tag_type %}_tag"
      value="{%& handle_idx %},{%& tag_idx %}"
      hx-post="{%& form_path %}"
      hx-target="#dialog"
    >
      Delete
    </button>
  </div>
</li>
{% end end end %}
{% function tag_list(entry_id, tag_type, tags) %}
{% if tags[entry_id] then %}
{% for tag_idx = 1, #tags[entry_id] do local tag = tags[entry_id][tag_idx] %}
<li>
    {%& tag.name %}
    <button
      type="submit"
      name="delete_{%& tag_type %}_tag"
      value="{%& entry_id %},{%& tag.tag_id %}"
      hx-post="{%& form_path %}"
      hx-target="#dialog"
    >Delete</button>
</li>
{% end end end %}
{% function emit_row(kind, id, value, uncommitted_ptag_list, uncommitted_ntag_list) %}
<li>
  <div class="input-cell">
    <input type="hidden" name="{%& kind %}_ids[]" value="{%& id %}" />
    <input
      data-1p-ignore
      type="text"
      name="{%& kind %}_handles[]"
      value="{%& value %}"
      placeholder="@Username"
      autocomplete="off"
    />
    <button
      type="submit"
      name="delete_{%& kind %}_handle"
      value="{%& id %}"
      hx-post="{%& form_path %}"
      hx-target="#dialog"
    >Delete</button>
  </div>
  <ul>
    <li>
      Ping this person if the shared post has any of these tags:
      <ul>
        {% if kind ~= "pending" then %}
        {% tag_list(id, "positive", positive_tags) %}
        {% end %}
        {% editable_tag_list(id, kind, "positive", "Paws",
        uncommitted_ptag_list) %}
        <li>
          <input
            type="text"
            autocomplete="off"
            list="all-tags"
            name="{%& kind %}_positive_tags_handle_{%& id %}[]"
            placeholder="Paws"
          />
        </li>
      </ul>
      <button
        type="submit"
        name="add_{%& kind %}_positive_tag"
        value="add_{%& kind %}_positive_tag"
        hx-post="{%& form_path %}"
        hx-target="#dialog"
      >
        Add Another ‘Ping’ Tag…
      </button>
    </li>
    <li>
      But not if the shared post has any of these tags:
      <ul>
        {% if kind ~= "pending" then %}
        {% tag_list(id, "negative", negative_tags) %}
        {% end %}
        {% editable_tag_list(id, kind, "negative", "Maws",
        uncommitted_ntag_list) %}
        <li>
          <input
            type="text"
            autocomplete="off"
            list="all-tags"
            name="{%& kind %}_negative_tags_handle_{%& id %}[]"
            placeholder="Maws"
          />
        </li>
      </ul>
      <button
        type="submit"
        name="add_{%& kind %}_negative_tag"
        value="add_{%& kind %}_negative_tag"
        hx-post="{%& form_path %}"
        hx-target="#dialog"
      >
        Add Another ‘Don’t Ping’ Tag…
      </button>
    </li>
  </ul>
</li>
{% end %}{% function block.content() %}
<form class="vbox" method="POST" action="{%& form_path %}">
  <input type="submit" name="dummy_submit" value="dummy_submit" class="hidden" />
  <label
    >Name:
    <input
      type="text"
      name="name"
      data-1p-ignore
      autocomplete="off"
      required
      value="{%& name %}"
    />
  </label>
  <label
    >Service<noscript>
      (Click here if you change the service:
      <input type="submit" name="service_reload" value="Refresh" />)</noscript
    >:
    <select required name="selected_service">
      {% for i = 1, #share_services do local service = share_services[i] %}
      <option value="{%& service %}"{% if selected_service == service then %} selected{% end %}>{%& service %}</option>
      {% end %}
    </select>
  </label>
  {% if not incoming_service or incoming_service == "Telegram" then %}
  <label
    ><span class="inline"
      >Chat ID (ask @werehouse_archive_bot with <tt>/chatid</tt>):</span
    >
    <input required type="number" name="chat_id" value="{%& chat_id %}" />
  </label>
  {% elseif incoming_service == "Discord" then %}
  <label
    >Webhook URL:
    <input required type="number" name="chat_id" />
  </label>
  {% end %}
  <label class="inline">
    <input type="checkbox" name="attribution" value="true" {% if attribution == "true" or attribution == 1 then %}checked {% end %} /> Include <q>Shared by {%& vars.user.username %}</q> in the shared post?
  </label>
  <details {% if (pending_handles and #pending_handles>
    0) or (entries and #entries> 0) then %}open{% end %}>
    <summary>Include a ping list…</summary>
    <datalist id="all-tags">
      {% for i = 1, #alltags do %}
      <option>{%& alltags[i].name %}</option>
      {% end %}
    </datalist>
    <div id="deleted-entry-ids">
      {% if delete_entry_ids then for i = 1, #delete_entry_ids do %}
      <input type="hidden" name="delete_entry_ids[]" value="{%& delete_entry_ids[i] %}" />
      {% end end %}
    </div>
    <div id="delete-entry-positive-tags">
      {% if delete_entry_positive_tags then for i = 1, #delete_entry_positive_tags do %}
      <input type="hidden" name="delete_entry_positive_tags[]" value="{%& delete_entry_positive_tags[i] %}" />
      {% end end %}
    </div>
    <div id="delete-entry-negative-tags">
      {% if delete_entry_negative_tags then for i = 1, #delete_entry_negative_tags do %}
      <input type="hidden" name="delete_entry_negative_tags[]" value="{%& delete_entry_negative_tags[i] %}" />
      {% end end %}
    </div>
    <ul>
      {% if entries and #entries > 0 then for e_idx = 1, #entries do local entry = entries[e_idx] %}
      {% emit_row("entry", entry.spl_entry_id, entry.handle, entry_positive_tags, entry_negative_tags) %}
      {% end end %}
      {% if pending_handles and #pending_handles > 0 then for h_idx = 1,
      #pending_handles do %}
      {% emit_row("pending", h_idx, pending_handles[h_idx], pending_positive_tags, pending_negative_tags) %}
      {% end end %}
      <li>
        <input
          data-1p-ignore
          type="text"
          name="pending_handles[]"
          autocomplete="off"
          placeholder="Add a @Username to ping"
        />
      </li>
    </ul>
    <button
      type="submit"
      name="add_handle"
      value="add_handle"
      hx-post="{%& form_path %}"
      hx-target="#dialog"
    >
      Add Tags…
    </button>
  </details>
  <span class="buttons">
    <input
      type="submit"
      name="cancel"
      value="Cancel"
      formnovalidate
      hx-post="{%& form_path %}"
      hx-swap="none" />
    <input type="submit" name="add" value="Update" />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Edit Share Option: " .. spl.name, dialog_width
= "30em" }) %}
