{% function block.content() %}
<p>
  When the scraper sees a tag named <b>Incoming Tag Name</b> coming from
  <b>Incoming Tag Domain</b>, it will add <b>Tag Name</b> to the record in your
  archive.
</p>
<form class="vbox" method="POST" action="/tag-rule/add" hx-boost="true">
  <label
    >Incoming Tag Name
    <input
      data-1p-ignore
      type="text"
      name="incoming_name"
      autocomplete="off"
      autocapitalize="words"
      required
    />
  </label>
  <label
    >Incoming Tag Domain
    <select name="incoming_domain">
      <option>e621.net</option>
      <option>www.furaffinity.net</option>
      <option>cohost.org</option>
    </select>
  </label>
  <datalist id="all-tags">
    {% for i = 1, #alltags do %}
    <option>{%& alltags[i].name %}</option>
    {% end %}
  </datalist>
  <label
    >Tag Name
    <input
      data-1p-ignore
      list="all-tags"
      type="text"
      name="tag_name"
      autocapitalize="words"
      required
    />
  </label>
  <span class="buttons">
    <input
      type="submit"
      name="cancel"
      value="Cancel"
      formnovalidate
      data-btn-cancel
    />
    <input type="submit" name="add" value="Add" />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Add Tag Rule", hx = hx}) %}
