{% function block.content() %}
<h1>{%& tag_rule.incoming_name %} on {%& tag_rule.incoming_domain %}</h1>
<a
  href="/tag-rule/{%& tag_rule.tag_rule_id %}/edit"
  hx-get="/tag-rule/{%& tag_rule.tag_rule_id %}/exit"
  hx-target="#dialog"
  >Edit…</a
>
<p>
  When the scraper sees a tag named <b>{%& tag_rule.incoming_name %}</b> coming
  from <b>{%& tag_rule.incoming_domain %}</b>, it will add
  <b>{%& tag_rule.tag_name %}</b> to the record in your archive.
</p>
{% end %}{% render("layouts/main", { title = "Tag Rule: %s on %s" %
{tag_rule.incoming_name, tag_rule.incoming_domain} }) %}
