{% function block.content() %}
<form method="POST" action="{%& form_path %}">
  <label>
    Tag Name:
    <input
      data-1p-ignore
      type="text"
      name="name"
      autocapitalize="words"
      value="{%& tag.name %}"
    />
  </label>
  <label>
    Tag Description:
    <textarea name="description" rows="5" cols="35">
{%& tag.description %}</textarea
    >
  </label>
  <span class="buttons">
    <input
      type="submit"
      name="cancel"
      value="Cancel"
      formnovalidate
      hx-post="{%& form_path %}"
      hx-swap="none"
    />
    <input type="submit" name="update" value="Update" />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Edit Tag: " .. tag.name }) %}
