{% function block.content() %}
<p>
  When the scraper sees a tag named <b>Incoming Tag Name</b> coming from
  <b>Incoming Tag Domain</b>, it will add <b>Tag Name</b> to the record in your
  archive.
</p>
<form class="vbox" method="POST" action="/tag-rule/add">
  <label
    >Incoming Tag Name
    <input
      data-1p-ignore
      type="text"
      name="incoming_name"
      autocomplete="off"
      autocapitalize="words"
      required
    />
  </label>
  <label
    >Incoming Tag Domain
    <select name="incoming_domain">
      {% for i = 1, #domains_with_tags do %}
      <option>{%& domains_with_tags[i] %}</option>
      {% end %}
    </select>
  </label>
  <datalist id="all-tags">
    {% for i = 1, #alltags do %}
    <option>{%& alltags[i].name %}</option>
    {% end %}
  </datalist>
  <label
    >Tag Name
    <input
      data-1p-ignore
      list="all-tags"
      type="text"
      name="tag_name"
      autocapitalize="words"
      required
    />
  </label>
  <span class="buttons reverse">
    <input
      type="submit"
      name="add"
      value="Add"
      hx-post="{%& form_path %}"
      hx-target="#dialog"
      hx-validate="true"
    />
    <input
      type="submit"
      name="cancel"
      value="Cancel"
      formnovalidate
      hx-post="{%& form_path %}"
      hx-swap="none"
    />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Add Tag Rule" }) %}
