{% function block.content() %}
<form class="vbox" method="POST" action="/tag/add" hx-boost="true">
  <label
    >Tag Name
    <input
      data-1p-ignore
      type="text"
      name="name"
      autocapitalize="words"
      autocomplete="off"
      required
    />
  </label>
  <label>
    Tag Description:
    <textarea name="description" rows="5" cols="35"></textarea>
  </label>
  <span class="buttons">
    <input
      type="submit"
      name="cancel"
      value="Cancel"
      formnovalidate
      hx-post="/tag/add"
      hx-swap="none"
    />
    <input type="submit" name="add" value="Add" />
  </span>
</form>
{% end %}{% render("layouts/dialog", { title = "Add Tag", hx = hx }) %}
