{% function block.content() %}
<h1>Tags</h1>
<p><a href="/tag/add">Add Tag…</a></p>
{% if pages.current > 1 and #tag_records == 0 then %}
<p>You've fallen off the end of the page counter!</p>
{% elseif #tag_records == 0 then %}
<p>No tags yet.</p>
{% else %}
<form method="POST">
  {% if error and type(error) == "string" then %}
  <p style="color: red">{%& error %}</p>
  {% end %}
  <span class="buttons"
    ><input type="reset" value="Deselect All" /><button
      type="button"
      onclick="document.getElementsByName('tag_ids[]').forEach((e) => { e.checked=true; })"
    >
      Select All</button
    ><input type="submit" name="delete" value="Delete" /><input
      type="submit"
      name="merge"
      value="Merge"
  /></span>
  <div class="overflow-container">
    <table hx-boost="true">
      <thead>
        <tr>
          <th class="num"></th>
          <th class="txt">Name</th>
          <th class="num">Description</th>
          <th class="num">Records</th>
        </tr>
      </thead>
      {% for i = 1, #tag_records do local item = tag_records[i] %}
      <tr>
        <td class="num">
          <input type="checkbox" name="tag_ids[]" value="{%& item.tag_id %}" />
        </td>
        <td class="txt">
          <a href="/tag/{%& item.tag_id %}">{%& item.name %}</a>
        </td>
        <td class="txt">{%& item.description %}</td>
        <td class="num">{%& item.image_count %}</td>
      </tr>
      {% end %}
    </table>
  </div>
  {% render("components/pagination_controls", { pages = pages, kind_plural =
  "tags" }) %}
</form>
{% end %}{% end %}{% render("layouts/main", { title = "Tags", user = user }) %}
