{% function block.content() %}
<h1>Terms of Service</h1>
<p>
    <ol>
        <li><b>Do not archive anything that it is illegal to possess in Canada (where this service is hosted).</b>  I don’t want to get in trouble with the law.</li>
        <li><b>Do not abuse this service.</b> I reserve the right to redefine “abuse” how I see fit.</li>
        <li><b>Don’t be a reason for this list to get longer.</b></li>
    </ol>
</p>

{% end %}{% render("main_layout", { title = "About", user = user }) %}
