{% if pages then %}
<p>
  {%& pages.first_row %} to {%& pages.last_row %} of {%& pages.item_count %}
  total {%& kind_plural %}
</p>
<div class="pages" hx-boost="false">
  {% local search_fragment = "" if search then search_fragment = "&search=" .. search end %}
  {% if pages.before then %}<a href="?page={%& pages.before.num %}{%& search_fragment %}"
    >← Previous</a
  >{% end %} &nbsp; {% if pages.after then %}<a href="?page={%& pages.after.num %}{%& search_fragment %}"
    >Next →</a
  >{% end %}
</div>
{% end %}
