<div class="queue-container">
  {% for i = 1, #queue_records do local item = queue_records[i] %}
  <label class="queue-record hstack">
    <div class="queue-stack">
      {% if editable then %}
      <input type="checkbox" name="qids[]" value="{%& item.qid %}" />
      {% end %}
      <div>{%& item.qid %}</div>
    </div>
    <div class="queue-stack">
      <div><strong>{%& block.status_text(item) %}</strong></div>
      {% if item.link then %}
      <a href="{%& item.link %}">{%& item.link %}</a>
      {% end %}{% if item.has_image == 1 then %}
      <div>
        <img
          width="{%& item.image_width %}"
          height="{%& item.image_height %}"
          src="/queue-image/{%& item.qid %}"
        />
      </div>
      {% end %}
      <p>{%& block.status_desc(item) %}</p>
    </div>
  </label>
  {% end %}
</div>
