{% if record.kind == kind.Image and not vars.rv_fullsize then %}
<div class="zstack">
    <img
        src="/thumbnail-file/{%& record.first_thumbnail_id %}"
		class="height-limit"
		width="{%& record.width == 0 and "100%" or record.width %}"
		height="{%& record.height == 0 and "100%" or record.height %}"
        />
    <picture class="height-limit">
        <source srcset="/preview-file/{%& record.file %}.jxl" type="image/jxl" />
        <img
            src="/preview-file/{%& record.file %}.webp"
            class="height-limit"
            width="{%& record.width == 0 and "100%" or record.width %}"
            height="{%& record.height == 0 and "100%" or record.height %}"
        />
    </picture>
</div>
{% if not vars.rv_hide_fullsize_msg then %}
<p><small>This is a preview of the full image. <a href="?fullsize">Load full-size
	image.</a></small></p>
{% end %}
{% elseif (record.kind == kind.Image and vars.rv_fullsize) or (record.kind == kind.Animation and record.mime_type == "image/gif") then %}
<img
  src="/image-file/{%& record.file %}"
  class="height-limit"
  width="{%& record.width == 0 and "100%" or record.width %}"
  height="{%& record.height == 0 and "100%" or record.height %}"
/>
{% elseif record.kind == kind.Video or (record.kind == kind.Animation and
record.mime_type == "video/mp4") then %}
<video
  {% if record.kind == kind.Video then %}controls{% else %}loop autoplay{% end %}
  class="height-limit"
  width="{%& record.width == 0 and "100%" or record.width %}"
  height="{%& record.height ==0 and "100%" or record.height %}"
  src="/image-file/{%& record.file %}"
  data-video-loop-toggled
>
  Your browser doesn't support this video. Try
  <a target="_blank" href="{%& record.file %}">downloading the file</a> to play it in an
  application on your computer.
</video>
<label class="inline">
  <input type="checkbox" data-video-loop-toggler /> Loop video
</label>
{% else %}
<p class="height-limit">This record kind isn't supported yet.</p>
{% end %}
