{% if (#share_ping_lists + #telegram_accounts) < 1 then %}
<p>
  You have no share options configured yet. If you want to share to other
  services, go to <a href="/account">your Account page</a> and link an account
  or add a Share Option.
</p>
{% else %}
<form method="POST" hx-post="" hx-target="#dialog">
  <span class="buttons">
    <select name="share_option">
      {% for i = 1, #share_ping_lists do local spl = share_ping_lists[i] %}
      <option>{%& spl.spl_id %}: {%& spl.name %}</option>
      {% end %}{% for i = 1, #telegram_accounts do local tg_acct =
      telegram_accounts[i] %}
      <option>@{%& tg_acct.tg_username %} ({%& tg_acct.tg_userid %})</option>
      {% end %}
    </select>
    <input type="submit" name="share" value="Share…" />
  </span>
</form>
{% if #share_ping_lists < 1 then %}
<p>If you want to share to a group or channel, add a Share Option in <a href="/account#sopl">your account settings</a>.</p>
{% end %}
{% end %}
{% if share_records and #share_records > 0 then %}
<ul>
  {% for i = 1, #share_records do local sr = share_records[i] %}
  <li>
    {% if sr.shared_at then %}
        Sent: {%& sr.shared_to %} ({%& sr.shared_at %})
    {% else %}
        Unsent: {%& sr.shared_to %}
    {% end %}
  </li>
  {% end %}
</ul>
{% end %}
