<form method="POST">
  <span class="buttons">
    <select name="share_option">
      {% for i = 1, #share_ping_lists do local spl = share_ping_lists[i] %}
      <option>{%& spl.spl_id %}: {%& spl.name %}</option>
      {% end %}{% for i = 1, #telegram_accounts do local tg_acct =
      telegram_accounts[i] %}
      <option>@{%& tg_acct.tg_username %} ({%& tg_acct.tg_userid %})</option>
      {% end %}
    </select>
    <input type="submit" name="share" value="Share…" />
  </span>
</form>
{% if share_records and #share_records > 0 then %}
<ul>
  {% for i = 1, #share_records do local sr = share_records[i] %}
  <li>
    {% if sr.shared_at then %}Sent: {%& sr.shared_to %} ({%& sr.shared_at %}){%
    else %}Unsent: {%& sr.shared_to %}{% end %}
  </li>
  {% end %}
</ul>
{% end %}
