{% if not vars.hx then %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if title then %}{%& title %} - {% end %}werehouse</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta
      name="theme-color"
      content="#fff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#000"
      media="(prefers-color-scheme: dark)"
    />
  </head>
  <body>
    <div class="content">
      <style>body { display: flex; justify-content: center; align-items: center; min-height: 100vh; margin: 0; }</style>
      <div class="dialog">
        {% end %}
        <div id="dialog-contents">
          <h1>{%& title %}</h1>
          {% if type(vars.error) == "string" then %}
          <p class="error">{%& vars.error %}</p>
          {% end %}
          {% function block.content() %}
          This page was configured incorrectly and no page content was provided.
          {% end %}
          {% block.content() %}
        </div>
        {% if not vars.hx then %}
      </div>
    </div>
    <script src="/htmx@2.0.1.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
{% end %}
