{% function block.navbar() %}
<nav class="secondary-bg ignore-safe-area">
  <div class="leading desktop-only">
    <img src="/icon.svg" width="32" height="32" />
    <h1>werehouse</h1>
  </div>
  <h1 class="title mobile-only">{% if title then %}{%& title %}{% else %}Page{% end %}</h1>
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container trailing" for="menu-toggle"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="hamburgerIconTitle" stroke-width="2" stroke-linecap="square"><path d="M6 7h12M6 12h12M6 17h12"/></svg>
  </label>
  <span class="links trailing-desktop-only secondary-bg" hx-boost="true">
    {% if user and user.username then %}
    <a href="/home">Home</a>
    <a href="/queue">Queue</a>
    <a href="/image">Records</a>
    <a href="/image-group">Groups</a>
    <a href="/artist">Artists</a>
    <a href="/tag">Tags</a>
    <a href="/tag-rule">Tag Rules</a>
    <a href="/help">Help</a>
    <a href="/account">{%& user.username %}</a>
    {% else %}
    <a href="/">About</a>
    <a href="/tos">Terms of Service</a>
    <a href="/help">Help</a>
    <a href="/login">Log In</a>
    {% end %}
  </span>
</nav>
{% end %}{% function block.footer() %}
<footer class="ignore-safe-area">
  <a href="https://github.com/s0ph0s-2/werehouse">Source Code</a> • Made by
  <a href="https://s0ph0s.dog/">s0ph0s</a> • <a href="/tos">Terms of Service</a>
</footer>
{% end %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if title then %}{%& title %} - {% end %}werehouse</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icon-180.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta
      name="theme-color"
      content="#E6E6E6"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#333"
      media="(prefers-color-scheme: dark)"
    />
    <script src="/htmx.js"></script>
    <script src="/index.js"></script>
    <noscript>
      <style>
      .htmx-indicator { display: none; }
      </style>
    </noscript>
  </head>
  <body hx-indicator="#loader">
    <div class="content">
      <div id="loader" class="sticky-top htmx-indicator ignore-safe-area"></div>
      {% if not hide_header then %}{% block.navbar() %}{% end %}{% function
      block.content() %}This page was configured incorrectly and no page content
      was provided.{% end %}{% block.content() %}{% if not hide_footer then %}{%
      block.footer() %}{% end %}
    </div>
    <dialog
      id="dialog"
      hx-on::after-swap="if (event.target == this) {this.showModal()}"
    ></dialog>
  </body>
</html>
