{% function block.status_text(queue_item) %}{% if queue_item.tombstone == 1 then
%} Error {% elseif queue_item.tombstone == 2 then %} Archived {% elseif
queue_item.tombstone == 3 then %} “Temporary” Error Wasn’t {% elseif
queue_item.disambiguation_data then %} To Do (again) {% elseif
queue_item.disambiguation_request then %} Help Needed {% else %} To Do {% end %}
{% end %}{% function block.status_desc(queue_item) %} {% if
queue_item.disambiguation_data then %} {%& queue_item.status %} {% elseif
queue_item.disambiguation_request then %}
<a href="/queue/{%& queue_item.qid %}/help">Provide Help</a>
{% else %}{%& queue_item.status %}{% end %}{% end %}{% function block.navbar()
%}
<nav>
  <div>
    <img src="/icon.svg" width="32" height="32" />
    <h1>werehouse</h1>
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">Toggle Menu</label>
  <span class="links">
    {% if user and user.username then %}
    <a href="/home">Home</a>
    <a href="/queue">Queue</a>
    <a href="/image">Records</a>
    <a href="/image-group">Groups</a>
    <a href="/artist">Artists</a>
    <a href="/tag">Tags</a>
    <a href="/tag-rule">Tag Rules</a>
    <a href="/account">{%& user.username %}</a>
    {% else %}
    <a href="/">About</a>
    <a href="/tos">Terms of Service</a>
    <a href="/login">Log In</a>
    {% end %}
  </span>
</nav>
{% end %}{% function block.footer() %}
<footer>
  <a href="https://github.com/s0ph0s-2/werehouse">Source Code</a> • Made by
  <a href="https://s0ph0s.dog/">s0ph0s</a> • <a href="/tos">Terms of Service</a>
</footer>
{% end %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if title then %}{%& title %} - {% end %}werehouse</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icon-180.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="theme-color" content="#FFF" />
  </head>
  <body>
    <div class="content">
      {% if not hide_header then %}{% block.navbar() %}{% end %}{% function
      block.content() %}This page was configured incorrectly and no page content
      was provided.{% end %}{% block.content() %}{% if not hide_footer then %}{%
      block.footer() %}{% end %}
    </div>
    <script src="/index.js"></script>
  </body>
</html>
