:root {
  color-scheme: light dark;
}
* {
  box-sizing: border-box;
}
html {
  font-family: serif;
}
.dialog {
  max-width: 40em;
  border: 1px solid CanvasText;
  border-radius: 5px;
  padding: 1em;
}
.dialog h1 {
  font-size: 1.5rem;
}
.vbox {
  display: flex;
  flex-direction: column;
}
.vbox label,
.vbox label * {
  display: block;
  margin-bottom: 0.5em;
}
input[type="text"],
input[type="password"] {
  border: 1px solid GrayText;
  border-radius: 4px;
  width: 100%;
  padding: 0.5em;
}
.inline,
.inline a,
.inline input {
  display: inline;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
.buttons input,
.buttons button {
  margin-right: 1em;
}
.buttons input:last-child,
.buttons button:last-child {
  margin-right: 0;
}

.content {
  max-width: 64em;
  margin: 0 auto;
}
nav {
  border-bottom: 1px solid CanvasText;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
nav .links {
  display: flex;
  justify-content: end;
}
nav .links a {
  padding: 0.5em;
}
nav .links a:last-child {
  padding-right: 0;
}
footer {
  border-top: 1px solid CanvasText;
  margin-top: 1em;
  padding: 1em 0;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}
.gallery a {
  width: 12em;
}
.gallery a img {
  max-width: 12em;
  max-height: 12em;
  display: block;
  margin: 0 auto;
  border: 3px solid LinkText;
}
.gallery a:active img {
  border-color: ActiveText;
}
.gallery a:visited img {
  border-color: VisitedText;
}

.main-image {
  max-width: 100%;
  margin: 1.5em auto 0 auto;
  display: block;
}

table {
  border-top: 2px solid CanvasText;
  border-bottom: 2px solid CanvasText;
  border-collapse: collapse;
  width: 100%;
}
thead {
  border-bottom: 1px solid CanvasText;
}
th,
td {
  padding: 0.2em;
}

table .txt {
  text-align: left;
}

table .num {
  text-align: right;
}

.pages {
  display: flex;
  justify-content: space-between;
}

.group {
  margin-top: 1.5em;
}
